@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
a {
  text-decoration: none;
}
.toolbar-link {
  color: white;
}
.lis {
  color: #0c2d48;
  text-decoration: none;
}
.container-register {
  background-color: #f8f9fa;
  height: 89.5vh;
  width: 100vw;
}
.agency-register {
  width: calc(100vw - 240px);
}
.image-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.migrant-profile {
  background-color: #e7e7e7;
  height: 90vh;
}

.btn-send-video-div {
  display: flex;
  margin: 5px;

  justify-content: center;
}

.complaintNavIcons {
  background-color: #eeeeee;
  padding: 10px;
}

.dataGridHeader {
  background-color: #e5e5e5;
  color: #0d1b2a;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.div-file {
  position: relative;
  width: 100%;
  padding: 5px;
}
.div-file input {
  position: relative;
  width: 100%;
  opacity: 0;
  height: 46px;
  z-index: 2;
}

.error_page_link {
  text-decoration: none;
}
